.rechargeBg {
	height: 16.0rem;
	background: white;
	margin-top: 2.0rem;
	margin-bottom: 5.0rem;
	padding-left: 3.0rem;
	border-top: 2px solid #DFE0E3;
	border-bottom: 2px solid #DFE0E3;
}

.rechargeBg p {
	font-size: 2.3em;
	width: 100%;
	height: 50%;
	line-height: 8.0rem;
	margin: 0;
}

.recharge_type {
	color:  #55ABF5;
	margin-left: 20%;
}

.rechargeBg input {
	font-size: 1.0em;
	position: relative;
	width: 62%;
	height: 6.0rem;
	border: 0;
}

.symbol {
	margin-left: 20%;
	font-size: 1.3em;
	margin-right: 1.0rem;
}