.inputBg {
	text-align: center;
}

.inputBase {
	font-size: 2.5em;
	color: #D0D0D0;
	padding-left: 12%;
	border-radius: 0.8rem;
	border: 2px solid #DFE0E3;
	width: 78%;
	margin-top:2.0rem; 
}

.inputA {
	height: 7.5rem;
}

.inputB {
	font-size: 3.0em;
	padding: 2% 4%;
	width: 80%;
	text-align: top;
	height: 18.0rem;
}

/*输入框样式C*/
.inputC {
	background: white;
}

.inputC p {
	font-size: 2.0em;
	margin: 0;
	border-top: 2px solid #DFE0E3;
	padding: 0 2.0rem;
	height: 8.0rem;
}

.inputC input {
	font-size: 0.9em;
	border: 0;
	width: 82%;
	height: 98%;
}
/*带图标的input*/
.input_item {
	position: relative;
	height: 8.0rem;
	border-top: 2px solid #DFE0E3;
	font-size:2.5em;
	padding: 0 2.0rem 0 8.0rem;
}

.input_item input {
	width: 100%;
}
/*带图标的Input*/
/*输入框样式C*/

/*搜索框样式*/
.searchBg {
	position: relative;
	background: white;
	text-align: center;
	height: 6.0rem;
	line-height: 6.25rem;
}
.search {
	color: #55ABF5;
	padding-left: 2.0rem;
	font-size: 1.8em;
	border-radius: 4.0rem;
	border: 2px solid #55ABF5;
	width: 85%;
	height: 75%;
}

.searchBtn {
	position: absolute;
	top:1.5rem;
	right: 5.0rem;
}

.search::-webkit-input-placeholder { /* WebKit browsers */  
  color: #55ABF5;  
}  
.search::-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
  color: #55ABF5;  
}  
.search:-moz-placeholder { /* Mozilla Firefox 19+ */  
  color: #55ABF5;  
}  
.search:-ms-input-placeholder { /* Internet Explorer 10+ */  
  color: #55ABF5;  
}  
/*搜索框样式*/

/*详细地址样式*/
.address_detail {
	flow:left;
	height: 8.0rem;
	border-top: 3px solid #DFE0E3;
	border-bottom: 3px solid #DFE0E3;
	background-color: white;
	font-size: 2.5em;
	color: #55ABF5;
	padding-left: 2.0rem;
}

.address_detail input {
	font-size: 0.85em;
	color: #B9B9B9;
	width: 78.6%;
	height: 98%;
	border: 0;
}

.address_detail span{
	position: relative;
	top:0.2rem;
}
/*详细地址样式*/

.certification {
	font-size: 2.0em;
	margin-top: 2.0rem;
	margin-bottom: 8.0rem;
	padding-left: 2.0rem;
}

.certification a {
	color: #55ABF5;
}

.certification input[type='checkbox'] {
	width: 20px;
}

.user_certification_image {
	background-color: white;
	margin: 0 2.0rem;
	padding: 1.0rem;
	font-size: 2.5em;
	color: #3EB7EC;
	border-bottom: 3px dashed #999999;
	padding-bottom: 3.0rem;

}

.no_border {
	border: 0;
	margin-bottom: 7.0rem;
}

.user_certification_image p {
	margin-bottom: 0;
	margin-top: 1.0rem;
	padding-left: 3.5rem;
	background: url(../images/pic@2x.png) 0.5rem center no-repeat;
}

.user_certification_image span {
	display: block;
	text-align: center;
}

.user_certification_image_container {
	position: relative;
	text-align: right;
	width: 220px;
	height: 220px;
	display: inline-block;
	background: url('../images/certifica@2x.png') no-repeat center;
}

.user_certification_image_frame {
	display: inline-block;
	color: black;
	margin-right: 0.5rem;
}

.user_certification_image_frame p {
	margin-top: 0;
	text-align: center;
	padding: 0;
	background: white;
}

.user_certification_image_container img {
	/*display: none;*/
	position: absolute;
	padding: 5px;
	width: 50px;
	height: 50px;
	top: 5px;
    right: 0px;
    background-color: rgba(1,1,1,0.6);
}

.user_certification_image_container input {
	/*display: none;*/
	width: 100%;
	height: 100%;
	opacity: 0;
}

.hide {
	display: none;
}

/*寄件地址样式*/
.express_address input {
	width: 30px;
	height: 15.0rem;
	margin-right: 2.5em;
	
}

.express_address li {

	height: 15.0rem;
	padding: 1.0rem 3.5rem 2.0rem 3.5rem;
	background-color: white;
	margin-bottom: 4.0rem;
	list-style-type: none;
}

.express_address ul {
	padding: 0;
	margin: 0;
	height: 100%;
}

.label_content {
	display: inline-block;
	position: relative;
	bottom: 5.0rem;
}
.label_name {
	font-size: 3.0em; 
	margin-bottom: 1.5rem;
}

.label_tel {
	font-weight: normal;
	margin-left: 4.0rem;
	font-size: 0.9em;
}

.label_address {
	font-size: 2.0rem;
	margin-top: 1.0rem;
}

/*寄件地址样式*/

/*意见反馈*/

.responseBg {
	text-align: center;
	height: 30%;
}

.response {
	font-size: 2.5em;
	width: 85%;
	height: 100%;
	padding: 2.0rem;
	margin-top: 2.0rem;
	border-radius: 1.5rem;
}
/*意见反馈*/

/*快递查询*/
.search_express_background {
	background: white;
	height: 36%;
	padding-top: 6.0rem;

}

.search_express_item {
	height: 8.0rem;
	padding-left: 3.0rem; 
}

.search_express_item_input {
	width: 78%;
	height: 90%;
	border: 0;
	font-size: 2.0em;
	padding-right: 4.0rem;
	padding-left: 1.0rem;
	border-bottom: 2px solid #DFE0E3;
	background: url(../images/scan@2x.png) no-repeat right center;
}

.search_express_item_option {
	color: #999999;
	font-size: 2.0em;
	padding-left: 1.0rem;
	border-bottom: 2px solid #DFE0E3;
	display: inline-block;
	width: 85%;
	height: 100%;
	line-height: 8.0rem;
	background: url(../images/right_arrow_very_large@2x.png) no-repeat right center;
}

.search_express_item_left_ico {
	width: 50px;
	height: 35px;
	margin-right: 1.0rem;
	vertical-align: middle;
}
/*快递查询*/

/*条纹边框*/
.stripe_border {
	height: 8px;
}

.stripe_border img{
	display: block;
	width: 100%;
}
/*条纹边框*/

.icon_avatar {
	background: url(../images/user1@2x.png) 3.0rem center no-repeat;
	background-color: white;
}

.icon_user {
	background: url(../images/user@2x.png) 2.0rem center no-repeat;
	background-color: white;
}

.icon_user1 {
	background: url(../images/user@2x.png) 3.0rem center no-repeat;
	background-color: white;
}

.icon_sex {
	background: url(../images/sex@2x.png) 3.0rem center no-repeat;
	background-color: white;
}

.icon_tel {
	background: url(../images/tel@2x.png) 2.0rem center no-repeat;
	background-color: white;
}

.icon_mobile1 {
	background: url(../images/mobile_middle@2x.png) 3.5rem center no-repeat;
	background-color: white;
}

.icon_mobile {
	background: url(../images/mobile@2x.png) 2.0rem center no-repeat;
	background-color: white;
}

.icon_email {
	background: url(../images/email@2x.png) 2.0rem center no-repeat;
	background-color: white;
}

.icon_address {
	background: url(../images/address@2x.png) 2.0rem center no-repeat;
	background-color: white;
}

.icon_password {
	background: url(../images/password@2x.png) 3.0rem center no-repeat;
	background-color: white;
}