.contact_pic {
	text-align: center;
	padding: 6.0rem 0;
}

.contact_pic img {
	width: 35%;
	height: 35%;
}

.contact_background {
	background: white;
	padding: 0 3.0rem;
	border-top: 2px solid #DFE0E3;
	border-bottom: 2px solid #DFE0E3;

}

.contact_item {
	position: relative;
	height: 8.0rem;
	line-height: 8.0rem;
	font-size: 2.3em;
	border-bottom: 2px solid #DFE0E3; 
}

.no_border_bottom {
	border-bottom: 0;
}

.contact_item_value {
	position: absolute;
	right: 0.2rem;
}