body,html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #EFF3F6;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

/*顶部消息栏*/
.header {
	background: #3EB7EC;
	width: 100%;
	height: 8.0rem;
	line-height: 8.0rem;
	text-align: center;
}

.header p {
	display: inline;
	width: 100%;
	margin: 0;
	color: white;
	font-size: 3.0em; 
	text-align: center;
}

.header img{
	position: absolute;	
}

.header a {
	position: absolute;
	color: white;
	font-size: 2.5em;
	right: 3.0rem;
}

.left_ico {
	left: 2.0rem;
	top: 2.5rem;
	width: 1.5rem;
	height: 2.5rem;
}

.left_ico img {
	width: 1.5rem;
	height: 2.5rem;
}
.left_ico1 {
	left: 1.0rem;
	top: 2.0rem;
	width: 3.5rem;
	height: 3.5rem;	
}

.left_ico1 img {
	width: 3.5rem;
	height: 3.5rem;
}

.right_ico1 {
	width: 3.5rem;
	height: 3.5rem;
}

.right_ico1 img{
	right: 1.0rem;
	top: 2.0rem;
	width: 3.5rem;
	height: 3.5rem;
}

.right_ico {
	right: 2.0rem;
	top: 2.5rem;
	width: 4.0rem;
	height: 4.0rem;
}

.right_ico2 {
	width: 2.5rem;
	height: 2.5rem;
}

.right_ico2 img{
	right: 0.5rem;
	top: 2.5rem;
	width: 2.5rem;
	height: 2.5rem;
}
/*顶部消息栏*/

/*分割线*/
.divider {
	height: 2px;
	width: 90%;
	margin: 0 auto;
	background-color: #D0D0D0;
}
/*分割线*/

/*条纹边框*/
.stripe_border {
	height: 8px;
}

.stripe_border img{
	display: block;
	width: 100%;
}
/*条纹边框*/