.tabbar{
	width: 100%;
	border-top: 0.3px solid #444444;
	height: 8.0rem;
	position: fixed;
	bottom: 0;
	z-index: 999;
	background: white;
}

.tabbar ul{
	padding: 0;
	margin: 0;
}

.tabbar li{
	width: 33%;
	height: 8.0rem;
	font-size: 2.0em;
	line-height: 12.0rem;   /*行高*/
	text-align: center;
	display: inline-block;  /*包裹加行宽*/
}

.tabbar a{
	color: black;
}

.home{
	background: url(../images/home@2x.png) center 1.0rem no-repeat;
}

.home_selected{	
	color: #3EB7EC;
	background: url(../images/home_selected@2x.png) center 1.0rem no-repeat;
}

.order{
	background: url(../images/order@2x.png) center 1.0rem no-repeat;
}

.order_selected{
	color: #3EB7EC;
	background: url(../images/order_selected@2x.png) center 1.0rem no-repeat;
}

.mine{
	background: url(../images/mine@2x.png) center 1.0rem no-repeat;
}

.mine_selected{
	color: #3EB7EC;
	background: url(../images/mine_selected@2x.png) center 1.0rem no-repeat;
}

/*导航栏*/
.navigation{
    width: 100%;
    text-align: center;
    height: 5.5rem;
    border-top: 1px solid #DFE0E3;
    border-bottom: 1px solid #DFE0E3;
}

.navigation ul{
    width: 100%;
    line-height: 5.5rem;
    margin: 0;
}

.navigation_item{
    display: inline-block;
    font-size: 1.9rem;
    color: black;
    margin: 0 4.5rem;   /*上下边距为0，左右边距为4.5rem*/
}

.navigation_item.item_select{
    color: #3EB7EC;
}

.selected {
    color: #3EB7EC;
    border-bottom: 5px solid #3EB7EC;
}




